[submodule "agda2-mode"]
	path = lib/agda2-mode
	url = git@github.com:a12l/agda2-mode.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:a12l/auto-compile
[submodule "avy"]
	path = lib/avy
	url = git@github.com:a12l/avy
[submodule "borg"]
	path = lib/borg
	url = git@github.com:a12l/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:a12l/closql.git
[submodule "compat"]
	path = lib/compat
	url = git@github.com:a12l/compat.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:/a12l/dash.el
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:a12l/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = git@github.com:a12l/embark
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:a12l/epkg.git
[submodule "filladapt"]
	path = lib/filladapt
	url = git@github.com:a12l/filladapt.git
[submodule "llama"]
	path = lib/llama
	url = git@github.com:a12l/llama.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:a12l/magit
[submodule "transient"]
	path = lib/transient
	url = git@github.com:a12l/transient.git
[submodule "wakib-keys"]
	path = lib/wakib-keys
	url = git@github.com:a12l/wakib-keys
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:a12l/with-editor
