[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/Albin Otterhäll (a12l)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Albin Otterhäll (a12l)
	label-Verified = -1..+1 group user/Albin Otterhäll (a12l)
	push = group user/Albin Otterhäll (a12l)
	read = group user/Albin Otterhäll (a12l)
	rebase = group user/Albin Otterhäll (a12l)
	removeReviewer = group user/Albin Otterhäll (a12l)
	submit = group user/Albin Otterhäll (a12l)
[access "refs/heads/*"]
	create = group user/Albin Otterhäll (a12l)
	push = +force group user/Albin Otterhäll (a12l)
	pushMerge = group user/Albin Otterhäll (a12l)
	read = group user/Albin Otterhäll (a12l)
[access "refs/tags/*"]
	push = group user/Albin Otterhäll (a12l)
	push = +force group user/Albin Otterhäll (a12l)
